.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
}
.editor-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
.editor-heading{
display: flex;
margin-left: 300px;
}
.preview-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
.preview-heading{
display: flex;
margin-left: 300px;
}
.preview{
  background-color: black;
  border-radius: 5px;
  margin-left: 300px;
  margin-right: 300px;
}
textarea{
  border-radius: 5px;
  margin-left: 300px;
  margin-right: 300px;
}

@media (prefers-reduced-motion: no-preference) {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
