.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}

.editor-heading {
  display: flex;
}

.preview-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
}

.preview-heading {
  display: flex;
}

.preview {
  background-color: black;
 
  border-radius: 5px;
  padding: 20px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-align: left; /* Align text to the left */
}
.preview img {
  width: 100px; /* Limit the image width to fit within the preview area */
  height: auto; 
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;/* Maintain the aspect ratio */
}
.preview code {
background-color: aliceblue;
color: black;
min-width: 100%;
height: auto; 
}
textarea {
  border-radius: 5px;
/*   margin-left: 300px;
  margin-right: 300px; */
}

@media (prefers-reduced-motion: no-preference) {
  /* Optional: Add any additional styles for media queries */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
